In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [27]:
df = pd.read_csv(
    'certificates.csv'
)
df.describe()

C:\Users\liche\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,ENVIRONMENT_IMPACT_CURRENT,ENVIRONMENT_IMPACT_POTENTIAL,ENERGY_CONSUMPTION_CURRENT,ENERGY_CONSUMPTION_POTENTIAL,CO2_EMISSIONS_CURRENT,CO2_EMISS_CURR_PER_FLOOR_AREA,CO2_EMISSIONS_POTENTIAL,...,NUMBER_OPEN_FIREPLACES,SHEATING_ENERGY_EFF,SHEATING_ENV_EFF,WIND_TURBINE_COUNT,UNHEATED_CORRIDOR_LENGTH,FLOOR_HEIGHT,PHOTO_SUPPLY,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN
count,1.665070e+05,166507.000000,166507.000000,166507.000000,166507.000000,166507.000000,166507.000000,166507.000000,166507.000000,166507.000000,...,155087.000000,0.0,0.0,140999.000000,59243.000000,84669.000000,83139.000000,98419.000000,66589.000000,1.601650e+05
mean,6.164596e+09,73.717063,78.941120,74.512549,79.520092,181.194971,145.839929,2.041140,31.027032,1.609501,...,0.021311,NaN,NaN,-0.002241,6.314766,2.483018,0.008516,9.922434,7.074442,1.357029e+07
std,3.382038e+09,11.254311,7.531295,14.734232,11.139098,120.420581,98.278204,1.535963,20.423856,1.156458,...,0.221670,NaN,NaN,0.056197,3.982393,1.223522,0.563937,7.136253,7.140947,2.710352e+08
min,2.984000e+03,1.000000,1.000000,1.000000,1.000000,-207.000000,-274.000000,-1.400000,-34.000000,-1.700000,...,0.000000,NaN,NaN,-1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.040900e+04
25%,3.279124e+09,68.000000,76.000000,66.000000,74.000000,98.000000,83.000000,1.000000,16.000000,0.900000,...,0.000000,NaN,NaN,0.000000,3.850000,2.360000,0.000000,6.000000,2.000000,6.047835e+06
50%,6.518968e+09,76.000000,80.000000,76.000000,81.000000,167.000000,128.000000,1.800000,29.000000,1.400000,...,0.000000,NaN,NaN,0.000000,6.000000,2.410000,0.000000,9.000000,6.000000,6.135961e+06
75%,9.713777e+09,83.000000,84.000000,86.000000,87.000000,237.000000,187.000000,2.700000,41.000000,2.000000,...,0.000000,NaN,NaN,0.000000,8.190000,2.550000,0.000000,12.000000,10.000000,6.354619e+06
max,2.592712e+11,116.000000,125.000000,118.000000,124.000000,10579.000000,10579.000000,146.000000,1591.000000,146.000000,...,25.000000,NaN,NaN,1.000000,260.000000,251.000000,50.000000,166.000000,110.000000,1.009488e+10

In [28]:
df.dropna(axis = 0, subset = ['UPRN'])

,LMK_KEY,ADDRESS1,ADDRESS2,ADDRESS3,POSTCODE,BUILDING_REFERENCE_NUMBER,CURRENT_ENERGY_RATING,POTENTIAL_ENERGY_RATING,CURRENT_ENERGY_EFFICIENCY,POTENTIAL_ENERGY_EFFICIENCY,...,LOCAL_AUTHORITY_LABEL,CONSTITUENCY_LABEL,POSTTOWN,CONSTRUCTION_AGE_BAND,LODGEMENT_DATETIME,TENURE,FIXED_LIGHTING_OUTLETS_COUNT,LOW_ENERGY_FIXED_LIGHT_COUNT,UPRN,UPRN_SOURCE
0,235612181752009030417391407010753,Flat 16 Plate House,"3, Burrells Wharf Square",NaN,E14 3TH,7387178568,C,C,75,77,...,Tower Hamlets,Poplar and Limehouse,LONDON,England and Wales: 1983-1990,2009-03-04 17:39:14,rental (private),NaN,NaN,6060283.0,Address Matched
1,1490995152452016102415594090269947,Flat 4,2a Manilla Street,NaN,E14 8JZ,9766208478,D,D,58,58,...,Tower Hamlets,Poplar and Limehouse,LONDON,England and Wales: 1900-1929,2016-10-24 15:59:40,rental (private),NaN,NaN,6709814.0,Address Matched
2,40312510502008111122232752489408,Flat B,431 Mile End Road,NaN,E3 4PB,1527214568,C,C,77,79,...,Tower Hamlets,Bethnal Green and Bow,LONDON,England and Wales: 1900-1929,2008-11-11 22:23:27,rental (social),NaN,NaN,6143064.0,Address Matched
3,1713479825852019091111035199910461,Flat 1202 Defoe House,"123, City Island Way",NaN,E14 0TW,4113593678,B,B,83,83,...,Tower Hamlets,Poplar and Limehouse,LONDON,NO DATA!,2019-09-11 11:03:51,unknown,5.0,5.0,6719718.0,Address Matched
4,1802989975032020061214372482278400,Flat 9,"1, Fieldgate Street",NaN,E1 1JU,7012440778,E,B,54,83,...,Tower Hamlets,Bethnal Green and Bow,LONDON,England and Wales: 1996-2002,2020-06-12 14:37:24,rental (social),NaN,NaN,6136259.0,Address Matched
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166502,f42a942236ef432da7e3ba1b2d9d6a4a03b11d5d16bf40...,36 Lipton Road,NaN,NaN,E1 0LJ,10005268823,C,C,71,77,...,Tower Hamlets,Poplar and Limehouse,LONDON,England and Wales: 1967-1975,2023-11-17 06:33:28,Owner-occupied,7.0,NaN,6027980.0,Energy Assessor
166503,f6700d59b2731b7119c5e24ba8b7e5902bf5708b545951...,Flat 44,Hooke House,Gernon Road,E3 5TL,10005324041,C,C,70,79,...,Tower Hamlets,Bethnal Green and Bow,LONDON,England and Wales: 1930-1949,2023-11-07 11:10:45,Rented (private),8.0,NaN,6056057.0,Energy Assessor
166504,f95ee784f486ab9498ece42800b131276c8d6e7a646af4...,16 Providence Row Close,NaN,NaN,E2 0DT,10005234812,F,D,30,55,...,Tower Hamlets,Bethnal Green and Bow,LONDON,England and Wales: before 1900,2023-11-27 18:38:25,Rented (social),6.0,NaN,6101181.0,Energy Assessor
166505,ff29d11e22c2106ad755cee7b3408721e3f6e021a4b9c5...,35 Nelson Street,NaN,NaN,E1 2DL,10005267974,D,B,68,88,...,Tower Hamlets,Bethnal Green and Bow,LONDON,England and Wales: 1900-1929,2023-11-29 10:08:34,Rented (social),10.0,NaN,6013102.0,Energy Assessor
166506,021cf099bb44e772bdadbb38c001391c6bccb1550e4c68...,Flat 55,Londinium Tower,87 Mansell Street,E1 8AP,10005325317,C,C,77,80,...,Tower Hamlets,Bethnal Green and Bow,LONDON,England and Wales: 1983-1990,2023-11-12 16:36:08,Rented (private),10.0,NaN,6137469.0,Energy Assessor

In [62]:
df = df[(df.ENERGY_CONSUMPTION_CURRENT > 0) & (df.ENERGY_CONSUMPTION_POTENTIAL > 0)]

In [63]:
df_simple = pd.concat(
    [
        df['UPRN'],
        df['ENERGY_CONSUMPTION_CURRENT'] * df['TOTAL_FLOOR_AREA'],
        df['ENERGY_CONSUMPTION_POTENTIAL'] * df['TOTAL_FLOOR_AREA'],
        df['TOTAL_FLOOR_AREA']
    ],
    axis = 1,
    keys = ['UPRN', 'TotalEnergyConsumptionCurrent', 'TotalEnergyConsumptionPotential', 'TotalFloorArea']
)
df_simple

,UPRN,TotalEnergyConsumptionCurrent,TotalEnergyConsumptionPotential,TotalFloorArea
0,6060283.0,18380.4,17935.2,63.60
1,6709814.0,21070.0,21070.0,70.00
2,6143064.0,8921.6,8642.8,34.85
3,6719718.0,3100.0,3100.0,50.00
4,6136259.0,14536.0,9614.0,46.00
...,...,...,...,...
166502,6027980.0,12296.0,8526.0,58.00
166503,6056057.0,13680.0,8352.0,72.00
166504,6101181.0,25460.0,20520.0,38.00
166505,6013102.0,15840.0,4320.0,80.00
166506,6137469.0,15812.0,14070.0,67.00

In [64]:
df_simple['UPRN'] = df_simple['UPRN'].astype(int, errors = 'ignore')
df_sum = df_simple.groupby('UPRN').sum()
df_sum

,TotalEnergyConsumptionCurrent,TotalEnergyConsumptionPotential,TotalFloorArea
UPRN,,,
6.040900e+04,9936.00,6552.00,72.00
6.092700e+04,9180.00,6171.00,51.00
6.000007e+06,46158.74,34032.74,245.18
6.000009e+06,19827.20,19281.20,107.60
6.000013e+06,30279.00,23619.00,73.00
...,...,...,...
1.009488e+10,3456.00,3456.00,108.00
1.009488e+10,3776.00,3776.00,118.00
1.009488e+10,4477.00,4477.00,121.00
1.009488e+10,4477.00,4477.00,121.00
1.009488e+10,3776.00,3776.00,118.00

In [65]:
df_sum.to_csv('GroupedCertificates.csv', encoding='utf-8', index=True)

In [ ]:
df = pd.read_csv(
    'certificates.csv'
)
df.dropna(axis = 0, subset = ['UPRN'])